<%- include('inc/header.ejs') %>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id='result' class="my-1"></div>
            <a href="/admin/posts/new" class="btn btn-info text-white">Create New Post</a>
            <h2 class="text-center my-3">All Posts</h2>
            <table class="table table-striped table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Update</th>
                        <th scope="col">Hide/Unhide</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% let count = 0; %>
                    <% posts.forEach((item) => { %>
                    <% count++; %>
                    <% let hide = item.hidden === false ? 'H':'U'; %>
                    <tr>
                        <th scope="row"><%= count %></th>
                        <td><a href="/posts/<%= item.id %>" target="_blank"><%= item.title %></a></td>
                        <td><a href="/admin/posts/<%= item.id %>" class="btn btn-warning btn-sm text-white updateBtn"
                                data-toggle="tooltip" data-placement="top" title="Update Post">U</a></td>
                        <td><a href="#" class="btn btn-info btn-sm text-white hideBtn" data-id='<%= item.id %>'
                                data-toggle="tooltip" data-placement="top" title="Hide/Unhide Post"><%= hide %></a>
                        </td>
                        <td><a href="#" class="btn btn-danger btn-sm text-white deleteBtn" data-id='<%= item.id %>'
                                data-toggle="tooltip" data-placement="top" title="Delete Post">D</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
    </div>
</div>
<%- include('inc/script.ejs') %>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('.hideBtn').on('click', function () {
        let id = $(this).data('id');
        let txt = $(this).text();
        let hide = txt == 'H' ? true : false;
        $.ajax({
            type: 'PATCH',
            url: '/admin/posts/' + id,
            data: 'hidden=' + hide,
            success: function (msg) {
                $('#result').addClass('alert alert-success');
                $('#result').empty().append(msg + '. Page will be refreshed in 2 seconds');
                setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#result').addClass('alert alert-danger');
                $('#result').empty().append('An error occured when updating post. Page will be refreshed in 2 seconds');
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }
        });
    });

    $('.deleteBtn').on('click', function () {
        let id = $(this).data('id');
        $.ajax({
            type: 'DELETE',
            url: '/admin/posts/' + id,
            success: function (msg) {
                $('#result').addClass('alert alert-success');
                $('#result').empty().append(msg + '. Page will be refreshed in 2 seconds');
                setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#result').addClass('alert alert-danger');
                $('#result').empty().append('An error occured when updating post. Page will be refreshed in 2 seconds');
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }
        });
    });


</script>
<%- include('inc/footer.ejs') %>